LoggedInPersonIDInterceptor/Connected Services/TestService/TestService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService.Schema" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService.Schema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="VoyageRequest">
    <xs:sequence>
      <xs:element name="bodyField" nillable="true" type="tns:VoyageType" />
      <xs:element name="headerField" nillable="true" type="tns:RequestHeaderType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VoyageRequest" nillable="true" type="tns:VoyageRequest" />
  <xs:complexType name="VoyageType">
    <xs:sequence>
      <xs:element name="eTAField" type="xs:dateTime" />
      <xs:element name="eTDField" type="xs:dateTime" />
      <xs:element name="fromLocationField" nillable="true" type="xs:string" />
      <xs:element name="shipNameField" nillable="true" type="xs:string" />
      <xs:element name="toLocationField" nillable="true" type="xs:string" />
      <xs:element name="voyageIDField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VoyageType" nillable="true" type="tns:VoyageType" />
  <xs:complexType name="RequestHeaderType">
    <xs:sequence>
      <xs:element name="userNameField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestHeaderType" nillable="true" type="tns:RequestHeaderType" />
  <xs:complexType name="ResponseHeaderType">
    <xs:sequence>
      <xs:element name="statusCodeField" type="tns:StatusCodeEnumType" />
      <xs:element name="statusMessageField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseHeaderType" nillable="true" type="tns:ResponseHeaderType" />
  <xs:simpleType name="StatusCodeEnumType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="InvalidFormat" />
      <xs:enumeration value="Timeout" />
      <xs:enumeration value="ServerError" />
      <xs:enumeration value="OK" />
      <xs:enumeration value="NotFound" />
      <xs:enumeration value="NotAvailable" />
      <xs:enumeration value="AccessDenied" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="StatusCodeEnumType" nillable="true" type="tns:StatusCodeEnumType" />
</xs:schema>